body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: sans-serif;
  font-size: 10vw;
  color: #fff;
  opacity: 10%;
}

#scrollWrap {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.container {
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container:nth-child(odd) {
  background: #001bff;
}
.container:nth-child(even) {
  background: #00176b;
}