/* cardType */
body {
    background-color: #f3f3f3;
}
.cardType {
    margin: 100px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
/* cardtest1 */
.cardtest {
    font-family: 'NanumSquare';
    font-weight: 800;
    padding: 100px 0;
}
.cardtest h2 {
    font-size: 53px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 800;
}
.cardtest .card-wrap {
    display: flex;
    justify-content: space-between;
}
.cardtest .card {
    width: 358px;
    height: 600px;
    padding: 10px 0 0 25px;
    border-radius: 15px;
    border: solid 1px #E2E2E2;
    background-color: #f2f2f2;
}
.cardtest .card .card-title {
    display: block;
    font-size: 15px;
    color: #A9A9A9;
    margin: 40px 0 15px 15px;
}
.cardtest .card .card-desc {
    display: block;
    font-size: 26px;
    margin: 0 0 60px 15px;
    line-height: 1.4;
}

/* cardtest2 */
.cardtest2 {
    font-family: 'NanumSquare';
    padding: 100px 0;
}
.cardtest2 h2 {
    font-size: 43px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: 800;
}
.cardtest2 p {
    font-size: 16px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;
    color: #555555;
}
.cardtest2 .card-wrap {
    overflow: hidden;
}
.cardtest2 .card {
    float: left;
    width: 381px;
    height: 594px;
    margin: 0 12.5px 40px 13px;
    border: solid 0.1px #ebebeb;
    border-radius: 5px;
}
.cardtest2 .card:nth-child(1),
.cardtest2 .card:nth-child(4) {
margin-left: 0px;
}
.cardtest2 .card:nth-child(3),
.cardtest2 .card:nth-child(6) {
margin-right: 0px;
}
.cardtest2 .card:nth-child(4),
.cardtest2 .card:nth-child(5),
.cardtest2 .card:nth-child(6) {
margin-bottom: 0px;
}
.cardtest2 .card .card-img {
    width: 381px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 25px;
}
.cardtest2 .card .card-title {
    font-family: 'S-CoreDream';
    display: inline-block;
    font-size: 21px;
    font-weight: 900;
    margin: 0 4px 10px 40px;
}
.cardtest2 .card .card-new {
    display: inline-block;
    margin-top: 5px;
    padding: 2px 9px 0 9px;
    font-size: 11px;
    font-weight: 800;
    color: #fff;
    border-radius: 25px;
    background-color: #FA615B;
    vertical-align: top;
}
.cardtest2 .card .card-desc {
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #555555;
    margin: 0 0 30px 40px;
}
.cardtest2 .card .card-keyword {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 17px;
    border-radius: 2.5px;
    border: solid 1px #ebe9e9;
    color: #555555;
    margin-left: 40px;
}
.cardtest2 .card .card-keyword.green {
    border : solid 1px #05D686;
    margin-right: -35px;
    color: #fff;
    background-color: #05D686;
}
