body {
    position: fixed;
    cursor: none;
}

a,
button,
input {
    cursor: none;
}

/* loading */
.Screen {
    position: fixed;
    width: 210vh;
    height: 100vh;
    background-color: #333333;
    left: 0;
    top: 0vh;
    font-size: 7vh;
    font-family: 'Patrican';
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
    z-index: 10000;
}

.Item {
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10vh;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation: letterSpacing 3s ease-out;
    animation: letterSpacing 3s ease-out;
}

.Item:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.Item:nth-child(2) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.Item:nth-child(3) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

@-webkit-keyframes letterSpacing {
    0% {
        opacity: 0;
        letter-spacing: 1px;
    }

    80% {
        opacity: 1;
        letter-spacing: 1em;
    }

    100% {
        opacity: 0;
        letter-spacing: 1em;
    }
}

@keyframes letterSpacing {
    0% {
        opacity: 0;
        letter-spacing: 1px;
    }

    80% {
        opacity: 1;
        letter-spacing: 1em;
    }

    100% {
        opacity: 0;
        letter-spacing: 1em;
    }
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
    pointer-events: none;
    transition: transform 0.3s opacity 0.2s;
}

.cursor.active {
    opacity: 0.5;
    transform: scale(0);
}

.cursor.show {
    opacity: 0.5;
    transform: scale(0);
}

.cursor.butt {
    opacity: 0.5;
    transform: scale(0);
}

.cursor.auoo {
    opacity: 0.5;
    transform: scale(0);
}

.cursor.gamee {
    opacity: 0.5;
    transform: scale(0);
}

.cursor.gameeout {
    opacity: 0.5;
    transform: scale(0);
}

.cursor.touch {
    opacity: 0.5;
    transform: scale(0);
}

.cursor.touchout {
    opacity: 0.5;
    transform: scale(0);
}

.cursor-follower {
    position: fixed;
    width: 40px;
    height: 40px;
    background: rgba(155, 155, 155, 0.4);
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
    transition: transform 0.4s ease-in-out, background 0.4s ease-in-out;
    z-index: 998;
}

.cursor-follower.active {
    background: rgba(255, 166, 0, 0.6);
    transform: scale(7);
}

.cursor-follower.show {
    transform: scale(3);
    background: rgba(255, 51, 0, 0.6);
}

.cursor-follower.butt {
    transform: scale(2);
    background: rgba(51, 60, 75, 0.6);
}

.cursor-follower.auoo {
    transform: scale(1.5);
    background: rgba(51, 75, 52, 0.6);
}

.cursor-follower.gamee {
    transform: scale(3);
    background: rgba(91, 64, 95, 0.6);
    border-radius: 1vh;
}

.cursor-follower.gameeout {
    transform: scale(3);
    background: rgba(91, 64, 95, 0.6);
    border-radius: 1vh;
}

.cursor-follower.touch {
    transform: scale(3);
    background: rgba(140, 141, 89, 0.6);
    border-radius: 1vh;
}

.cursor-follower.touchout {
    transform: scale(3);
    background: rgba(140, 141, 89, 0.6);
    border-radius: 1vh;
}

footer {
    height: 1vh;
    position: fixed;
    left: 0;
    bottom: 1vh;
    z-index: 1000;
}

.scroll {
    position: relative;
    width: 100vw;
    height: 0.5px;
    background: #999;
    top: 0.4vh;
    z-index: 1000;
}

.scrollbar {
    position: relative;
    border-radius: 25px;
    background-color: #333;
    width: 200px;
    height: 5px;
    z-index: 1000;
}

::-webkit-scrollbar {
    display: none;
}

/*---------------
Supahscroll
---------------*/
.supah-scroll {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    will-change: transform;
    overflow: hidden;
}

#contents {
    width: 2700vh;
    display: flex;
}

.section {
    width: 90%;
    height: 100vh;
    position: relative;
}

.section.a {
    width: 70%;
    height: 100vh;
    position: relative;
}

.section.b {
    width: 108%;
    height: 100vh;
    position: relative;
}

.section.s {
    width: 75%;
    height: 100vh;
    position: relative;
}

.section.xs {
    width: 20%;
    height: 100vh;
    position: relative;
}

.section.g {
    width: 35%;
    height: 100vh;
    position: relative;
}

.section.api {
    width: 60%;
    height: 100vh;
    position: relative;
}

.section.chat {
    width: 45%;
    height: 100vh;
    position: relative;
}

.section.last {
    width: 48%;
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
}

.container.a {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
}

.container.b {
    position: absolute;
    width: 110%;
    height: 100vh;
    left: 0;
    right: 0;
}

.container.s {
    position: absolute;
    width: 75%;
    height: 100vh;
    left: 0;
    right: 0;
}

.container.xs {
    position: absolute;
    width: 20%;
    height: 100vh;
    left: 0;
    right: 0;
}

.container.g {
    position: absolute;
    width: 35%;
    height: 100vh;
    left: 0;
    right: 0;
}

.container.api {
    position: absolute;
    width: 60%;
    height: 100vh;
    left: 0;
    right: 0;
}

.container.chat {
    position: absolute;
    width: 45%;
    height: 100vh;
    left: 0;
    right: 0;
}

.container.last {
    position: absolute;
    width: 48%;
    height: 100vh;
    left: 0;
    right: 0;
}

.line {
    left: 1vh;
    top: 2vh;
    position: absolute;
    height: 95vh;
    width: 1px;
    background: #000;
}

.line.gray {
    background: #aaa;
}

.line_text {
    font-family: 'ChosunNm';
    position: absolute;
    transform: rotate(90deg);
    left: -4vh;
    top: 9vh;
    font-size: 2vh;
}

.line_text.c {
    top: 8vh;
    left: -3vh;
}

.line_text img {
    margin: 0 5px;
}

/* audio */
.audio {
    position: absolute;
    left: 188vh;
    top: 5vh;
}

.audio .btn-sound {
    display: block;
    color: #000;
    font-size: 3.5vh;
}

.fa.fa-volume-off {
    position: absolute;
    z-index: 101;
}

.fa.fa-volume-up {
    position: absolute;
    opacity: 0;
    z-index: 100;
}

/* clock */
#clock {
    position: fixed;
    z-index: 1000;
    bottom: 3%;
    left: 10%;
    color: #000;
    font-size: 3.4vh;
    font-weight: lighter;
    text-align: center;
    font-family: 'Codystar', cursive;
}

/* Electronic Calculator*/
.electronic {
    display: flex;
    flex-direction: column;
    transform: scale(0);
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s;
    position: absolute;
    left: 2vh;
    top: 8vh;
    opacity: 0;
    z-index: 200;
}

.electronic>div {
    border: 2px solid rgb(0, 0, 0);
}

.electronic>div:last-child {
    border: none;
}

#result {
    position: absolute;
    left: -0.5vh;
    bottom: -28vh;
    width: 36.5vh;
    height: 15vh;
    font-size: 8vh;
    font-weight: bold;
    text-align: right;
    padding-right: 2vh;
    color: rgb(59, 59, 59);
    border: none;
}

#display {
    width: 36.2vh;
    height: 12vh;
    font-size: 6vh;
    font-weight: bold;
    text-align: right;
    padding-right: 1vh;
    border: 3px double rgb(0, 0, 0);
}

.buttonWrap {
    display: flex;
    flex-direction: row;
}

.buttonWrap button {
    width: 9.5vh;
    height: 9vh;
    font-size: 2vh;
    padding: 1vh;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.644);
}

.previous {
    font-family: 'Patrican';
    font-size: 2.5vh;
    position: absolute;
    bottom: -7vh;
}

.game {
    position: absolute;
    left: 4vh;
    top: 7vh;
    opacity: 0;
    transition: opacity 0.6s;
    z-index: 300;
}

canvas {
    height: 65vh;
    border: 1px solid #333;
}

.gametext {
    font-family: 'ChosunNm';
    font-size: 2vh;
    text-align: center;
    color: #777;
    white-space: nowrap;
    margin-top: 4vh;
}

.gametext span {
    font-family: 'Patrican';
    font-size: 5vh;
    line-height: 3;
    color: #333;
    white-space: nowrap;
}