/* 1box */
.main_name {
    position: absolute;
    font-family: 'FZCSJW';
    font-size: 22vh;
}

.main_name.a {
    top: 20vh;
    left: 35vh;
    transform: translate(-10vh, -10vh);
}

.main_name.b {
    top: 48vh;
    left: 101vh;
    transform: translate(-10vh, -10vh);
}

.main_name.b::after {
    content: '';
    position: absolute;
    width: 40vh;
    height: 1px;
    left: 13vh;
    bottom: 50vh;
    transform: translate(15vh, 50vh) rotate(25deg);
    background: #000;
    opacity: 0.3;
}

.main_name.b::before {
    content: '';
    position: absolute;
    width: 40vh;
    height: 1px;
    right: 13vh;
    bottom: 80vh;
    transform: translate(-10vh, 50vh) rotate(25deg);
    background: #000;
    opacity: 0.3;
}

.main_name.c {
    bottom: 20vh;
    left: 151vh;
    transform: translate(10vh, 10vh);
}

.eng_box {
    position: absolute;
    font-family: 'Rajdhani-Regular';
    font-size: 2.3vh;
    top: 22vh;
    left: 138vh;
    padding-left: 3vh;
    border-left: 1.5vh solid #000;
    line-height: 1.4;
    opacity: 0;
}

.kor_box {
    position: absolute;
    font-family: 'ChosunNm';
    font-size: 2.3vh;
    bottom: 22vh;
    left: 20vh;
    padding-left: 3vh;
    border-left: 3.5vh solid #000;
    line-height: 1.4;
    opacity: 0;
}

.eng_box span {
    color: #6AB1CF;
}

.kor_box span {
    color: #F36233;
}

/* 2box */
.mainImg {
    position: absolute;
    left: 20vh;
    top: 2vh;
}

.mainImg img {
    height: 80vh;
    position: relative;
}

.mainImg span {
    font-size: 2vh;
    font-family: 'ChosunNm';
    position: absolute;
    transform: rotate(-90deg);
    left: 56vh;
    bottom: 8vh;
    white-space: nowrap;
}

.subImg {
    position: absolute;
    left: 105vh;
    bottom: 3vh;
}

.subImg img {
    height: 70vh;
    transform: scaleX(-1);
}

.subImg span {
    font-family: 'ChosunNm';
    position: absolute;
    transform: rotate(-90deg);
    white-space: nowrap;
    left: 50vh;
    bottom: 8vh;
    font-size: 2vh;
}

.about_text {
    position: absolute;
    left: 175vh;
    top: 3vh;
    font-family: 'ChosunNm';
    width: 55vh;
}

.about_text h2 {
    font-size: 3vh;
    margin-bottom: 5vh;
    opacity: 0;
}

.about_text p {
    font-size: 2vh;
    margin-bottom: 4vh;
    line-height: 1.5;
    color: #383838;
    text-align: justify;
    opacity: 0;
}

.span_text1 {opacity: 0;}
.span_text2 {opacity: 0;}

/* game_box */
.game_start {
    position: absolute;
    left: 6.5vh;
    top: 15vh;
    z-index: 301;
}
.game_start img {
    height: 40vh;
    filter: grayscale(95%);
    margin-bottom: 5vh;
}
.game_start h2 {
    font-family: 'Patrican';
    font-weight: normal;
    font-size: 3.8vh;
    text-align: center;
}

/* box3 */
.title {
    position: absolute;
    top: -2vh;
    left: 20vh;
}

.title h2 {
    font-family: 'Patrican';
    font-size: 12vh;
    line-height: 0.1;
    font-weight: normal;
}

.title h2:last-child {
    margin-left: 45vh;
}

.title h2 .keyword {
    margin-left: 5vh;
    font-family: 'ChosunNm';
    font-size: 2vh;
}

.title h2 .keyword::after {
    content: '';
    display: inline-block;
    width: 4.5vh;
    opacity: 0.5;
    border-bottom: 1px solid #000;
    margin: 0 1vh;
}

.title h2 .keywordDay {
    font-family: 'Abel-Regular';
    font-size: 1.4vh;
    opacity: 0.5;
}

.referenceImg {
    position: absolute;
    left: 20vh;
    bottom: 3.3vh;
    height: 70vh;
    width: 107.5vh;
    overflow: hidden;
}

.referenceImg img {
    position: absolute;
    height: 95vh;
    left: 0vh;
    transition: filter 0.6s;
}

.referenceImg div {
    transition: all 0.6s;
    position: absolute;
    top: 10vh;
    pointer-events: none;
    opacity: 0;
}

.referenceImg div img {
    width: 107.5vh;
    height: 50vh;
}

.container.b .bspan {
    font-family: 'ChosunNm';
    position: absolute;
    transform: rotate(-90deg);
    left: 121vh;
    bottom: 10.8vh;
    white-space: nowrap;
    font-size: 2vh;
    opacity: 0;
}

.reference_text {
    font-family: 'ChosunNm';
    position: absolute;
    left: 150vh;
    top: 20vh;
    width: 50vh;
}

.reference_text h2 {
    font-size: 3vh;
    margin-bottom: 5vh;
    opacity: 0;
}

.reference_text p {
    font-size: 2vh;
    margin-bottom: 7vh;
    line-height: 1.5;
    color: #383838;
    text-align: justify;
    opacity: 0;
}

.reference_text p a {
    font-size: 1.9vh;
    text-decoration: underline;
    opacity: 0.7;
    color: #000;
    float: right;
    margin-top: 4vh;
    opacity: 0;
}
.reference_text p:last-child a {
    margin-top: 1vh;
}

/* box4 */
.line_text.b {
    top: 10vh;
}

.site_choice {
    position: absolute;
    left: 42vh;
    top: 3.5vh;
    z-index: 500;
}

.site_choice ul {
    font-size: 8vh;
    font-family: 'Patrican';
}

.site_choice li {
    list-style: none;
    color: #B4B4B4;
    line-height: 1.2;
    transition: opacity 0.6s;
}

.site_choice li.active {
    color: #000;
}

.site_info {
    transition: opacity 0.6s;
    opacity: 0;
}

.site_info.active {
    opacity: 1;
}

.site_info ul {
    position: absolute;
    left: 30vh;
    top: 2vh;
    font-size: 4.5vh;
    font-family: 'Rajdhani-Regular';
}

.site_info li {
    list-style: none;
    color: #B4B4B4;
    line-height: 1.2;
}

.site_info li.active {
    color: #000;
}

.site_info img {
    position: absolute;
    top: 15vh;
    left: 70vh;
    z-index: 499;
    height: 55vh;
}

.site_info>div {
    font-family: 'ChosunNm';
    position: absolute;
    left: 140vh;
    bottom: 5vh;
    text-align: justify;
    width: 50vh;
}

.site_info>div h2 {
    font-size: 2.2vh;
    margin-bottom: 4vh;
}

.site_info>div p {
    font-size: 1.8vh;
    line-height: 1.4;
}

.site_info>div p a {
    margin-top: 3vh;
    float: right;
    font-size: 1.6vh;
    opacity: 0.7;
    color: #000;
    text-decoration: underline;
}

/* sitebox_one */
.site_one {
    position: absolute;
    top: 2vh;
    left: 16.5vh;
}

.site_one img {
    height: 80vh;
}

.site_one div:last-child {
    position: absolute;
    top: 68vh;
    left: 4vh;
    opacity: 0;
}

.site_one h2 {
    font-weight: normal;
    font-family: 'Patrican';
    font-size: 10vh;
    margin-bottom: 5vh;
    line-height: 0.4;
}

.site_one span {
    display: inline-block;
    font-family: 'ChosunNm';
    font-size: 2vh;
    white-space: normal;
    margin-left: 91vh;
}

.site_one.t span {
    margin-left: 77.5vh;
}

.site_one.tq span {
    margin-left: 83vh;
}

.site_one.v span {
    margin-left: 69.1vh;
}

.site_one span::after {
    display: inline-block;
    content: '';
    width: 3vh;
    border-bottom: 1px solid #000;
    margin-left: 0.8vh;
    opacity: 0.5;
}

.site_one a {
    text-decoration: none;
    opacity: 0.5;
    color: #000;
    font-family: 'Abel-Regular';
    font-size: 1.8vh;
}

/* sitebox_two */
.site_two {
    position: absolute;
    top: 5vh;
    left: 16.5vh;
}

.site_two img {
    height: 80vh;
}

.site_two div:first-child {
    position: absolute;
    top: -5vh;
    left: -4vh;
    opacity: 0;
}

.site_two h2 {
    font-family: 'Patrican';
    font-weight: normal;
    font-size: 10vh;
    margin-bottom: 2.3vh;
}

.site_two span {
    font-family: 'ChosunNm';
    font-size: 2vh;
    margin-left: 69vh;
}

.site_two.t span {
    margin-left: 76vh;
}

.site_two.tq span {
    margin-left: 80vh;
}

.site_two span::after {
    display: inline-block;
    content: '';
    width: 3vh;
    border-bottom: 1px solid #000;
    margin-left: 0.8vh;
    opacity: 0.5;
}

.site_two a {
    text-decoration: none;
    opacity: 0.5;
    color: #000;
    font-family: 'Abel-Regular';
    font-size: 1.8vh;
}

/* sitebox_img */
.site_one>div,
.site_two>div {
    height: 70vh;
    width: 120vh;
    overflow: hidden;
    position: absolute;
}

.site_one>div {
    top: 0;
}

.site_two>div {
    top: 21.8vh;
}

/* calculator */
.calculator {
    text-align: center;
    align-items: center;
    font-family: 'Patrican';
    transition: opacity 0.4s;
    position: absolute;
    z-index: 201;
}

.calculator img {
    position: absolute;
    width: 15vh;
    top: 8vh;
    left: 13.2vh;
}

.touch_box {
    position: absolute;
    left: 6.7vh;
    top: 33vh;
}

.calculator h2 {
    transform: rotate(-90deg);
    font-size: 5.5vh;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 0.5vh;
    border-bottom: 1px solid #000;
}

.calculator span {
    white-space: nowrap;
    display: inline-block;
    transform: rotate(90deg);
    font-size: 3.1vh;
    margin-left: 10.5vh;
    text-indent: -17.5vh;
}

.boundary_box {
    font-family: 'Patrican';
}

.boundary_box .boundary {
    position: absolute;
    width: 39vh;
    height: 1px;
    bottom: 24vh;
    left: 1.6vh;
    background: #aaa;
}

.boundary_box p {
    position: absolute;
    bottom: 15vh;
    left: 11vh;
    font-size: 2vh;
    line-height: 0.1;
    white-space: nowrap;
}

.boundary_box h3 {
    position: absolute;
    bottom: 7vh;
    left: 8vh;
    font-size: 4.5vh;
    line-height: 0.1;
    font-weight: normal;
    white-space: nowrap;
}

/* codepen */
.top_codepen {
    position: absolute;
    left: 15vh;
    top: 2vh;
    pointer-events: none;
}

.top_codepen iframe {
    width: 100vh;
    height: 55vh;
}

.address {
    font-family: 'Patrican';
    position: absolute;
    left: 120vh;
    top: 4vh;
}

.address h2 {
    font-weight: normal;
    font-size: 3vh;
    line-height: 0.5;
}

.address p {
    font-size: 2vh;
    margin-left: 2.5vh;
    line-height: 0.5;
}

.address span {
    font-family: 'ChosunNm';
    font-size: 2.8vh;
}

.codepen_kor {
    position: absolute;
    left: 145vh;
    top: 5vh;
    font-family: 'ChosunNm';
    line-height: 2;
    writing-mode: tb-rl;
    font-size: 1.6vh;
    z-index: 51;
}

.codepen_kor span {
    width: 0.2vh;
    height: 2vh;
    display: inline-block;
    margin: 0.8vh 0;
    background: #aaa;
    border-radius: 50%;
}

.history {
    position: absolute;
    bottom: 7vh;
    left: 15vh;
}

.history h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 15vh;
    margin: 5vh 0 0;
    line-height: 1.4;
}

.history span {
    font-family: 'Patrican';
    font-size: 2vh;
    margin-left: 3.5vh;
}

.history span::after {
    content: '';
    width: 3vh;
    height: 3vh;
    position: absolute;
    border-radius: 50%;
    margin-left: 8vh;
    background: #000;
}

.codepen_eg {
    position: absolute;
    bottom: 12vh;
    left: 75vh;
    font-family: 'Patrican';
    line-height: 1.2;
    font-size: 2vh;
}

.codepen_eg strong {
    font-size: 2.3vh;
    font-weight: normal;
}

.codepen_eg .eg_span.one {
    margin-left: 5.9vh;
}

.codepen_eg .eg_span.two {
    margin-left: 14.5vh;
}

.codepen_eg .eg_span.three {
    margin-left: 16.3vh;
}

.bottom_codepen {
    position: absolute;
    bottom: 0;
    left: 130vh;
    pointer-events: none;
    z-index: 50;
}

.bottom_codepen iframe {
    width: 70vh;
    height: 55vh;
}

/* api-box */
.group_member {
    font-family: 'Patrican';
    font-size: 2vh;
    text-align: left;
    position: absolute;
    left: 25vh;
    top: 10vh;
}

.group_member h2 {
    margin: 3vh 0 2vh 0;
    font-size: 6vh;
    font-weight: normal;
}

.group_img {
    position: absolute;
    left: 62vh;
    top: 9.5vh;
    height: 27vh;
    width: 35vh;
    filter: brightness(50%);
    transition: filter 0.6s;
}

.group_img:hover {
    filter: brightness(90%);
}

.group_boundary {
    position: absolute;
    width: 118.5vh;
    height: 1px;
    background: #aaa;
    top: 45vh;
    left: 1.9vh;
}

.api_span {
    font-family: 'Patrican';
    font-size: 2vh;
    position: absolute;
    bottom: 45vh;
    left: 14vh;
}

.group_diago {
    width: 85vh;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 29vh;
    left: 16vh;
    transform: rotate(21deg);
}

.port_span {
    font-family: 'Patrican';
    font-size: 2vh;
    position: absolute;
    bottom: 11vh;
    left: 101vh;
}

.group_info {
    font-family: 'Patrican';
    font-size: 5vh;
    text-align: center;
    position: absolute;
    bottom: 11vh;
    left: 37vh;
    white-space: nowrap;
}

.group_info span {
    display: block;
    line-height: 1.2;
}

.inter_p {
    font-family: 'Patrican';
    font-size: 1.5vh;
    position: absolute;
    bottom: 2vh;
    left: 10vh;
}

/* chat_box */
.comment_list {
    font-family: 'ChosunNm';
    position: absolute;
    width: 80vh;
    height: 82.5vh;
    text-align: right;
    bottom: 15vh;
    left: 8vh;
    overflow: auto;
}

.comment_list span {
    padding: 1.2vh;
    border-radius: 0.5vh;
    background: #eee;
    font-size: 2vh;
}

.comment_list p {
    font-size: 1.3vh;
}

.comment_box {
    margin-bottom: 3.5vh;
}

.comment_box:last-child {
    margin-bottom: 0;
}

.comment_boundary {
    position: absolute;
    width: 88vh;
    height: 1px;
    display: block;
    background: #000;
    left: 2vh;
    bottom: 12vh;
}

.comment_text {
    position: absolute;
    bottom: 2vh;
    display: flex;
    font-family: 'Patrican';
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vh;
}

.comment_text h2 {
    text-align: center;
    font-weight: normal;
    margin-left: 3vh;
    margin-right: 3vh;
}

.comment_text span {
    color: #AAAAAA;
    width: 65vh;
}

.comment_text button {
    background: none;
    border: none;
    font-family: 'Patrican';
    font-size: 2.5vh;
    color: #AAAAAA;
}

/* last_box */
.last_top {
    text-align: center;
    position: absolute;
    top: 4vh;
    left: 23vh;
    white-space: nowrap;
}

.last_top h2 {
    font-family: 'Patrican';
    font-weight: normal;
    font-size: 10vh;
    margin-bottom: 5vh;
}

.last_top span {
    font-family: 'ChosunNm';
    font-size: 1.8vh;
    line-height: 1.4;
}

.last_boundary_short {
    position: absolute;
    width: 10.5vh;
    height: 0.5vh;
    background: #000;
    top: 46vh;
    left: 18vh;
}

.last_boundary_long {
    position: absolute;
    top: 46vh;
    left: 28.5vh;
    width: 55vh;
    height: 0.5vh;
    background: #E5E5E5;
}

.last_bottom {
    position: absolute;
    bottom: 13vh;
    left: 23vh;
    white-space: nowrap;
}

.last_bottom h2 {
    font-family: 'Patrican';
    font-weight: normal;
    font-size: 8vh;
    text-align: center;
    margin-bottom: 5vh;
}

.last_bottom span {
    margin-left: 13vh;
    font-family: 'Patrican';
    font-size: 2vh;
}

.last_bottom span p {
    margin-left: 5vh;
    font-family: 'ChosunNm';
    font-size: 1.5vh;
    display: inline-block;
}

.last_bottom span:nth-child(4) p {
    margin-left: 3.8vh;
}